@media only screen and (min-width: 35rem) {


    /* basic nav button Medium */
nav button {display: none;}

nav ul {
    display: flex;
    flex-direction: row;
    border-left: 1px solid rgba(0,0,0,0.3);
    margin-left: 2vw;
}

nav ul li a{
    border: none;
    border-right: 1px solid rgba(0,0,0,0.3);

}


}/* end of media query */
