@media only screen and (min-width: 35rem) {

    header{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    header section{
    grid-column-start: 2;
    grid-column-end: 4;
    }
    header div.date{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    }


    /* main */
    main{
        grid-template-columns: 1fr 1fr;}
    main section{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    main section:nth-child(3){
        flex-direction: row;

    }
    }
    footer{
        grid-template-columns: 100px 1fr 1fr;
    }
    footer div{
        flex-direction: column;
        padding: .8rem;
    }
    footer address {
        padding: .8rem;

    }
    footer div:nth-child(4){
        background-color: aqua;
    }
/* end of media query */
