@media only screen and (min-width: 35rem) {

    header{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
    header section{
    grid-column-start: 2;
    grid-column-end: 4;
    }
    header div.date{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    }


    /* main */
    main{
        grid-template-columns: 1fr 2fr 1fr;
    }

    main section{
        grid-column-start: 1;
        grid-column-end: 3;
    }
/* Hero / call to action */
    main section:nth-child(2){
        flex-direction: column;
        /* background-color: aqua; */
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    main section:nth-child(2) img{
        width: 100%;
        height: 300px;
     }
     main section:nth-child(2) h4{
        position: absolute;
         top: 20px;
         left: 10px;
         padding: 1.5rem;
        font-size: 22px;
     }
     
     main section:nth-child(2) h5{
        position: absolute;
         bottom: 10px;
         right: 25px;
         padding: 1.2rem;
        font-size: 19px;}

/* spot light */
    main section:nth-child(3){
        flex-direction: row;
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        /* background-color: aqua; */
    }
/* weather */
    main section:nth-child(4){
        /* display: none; */
        grid-column: 3 / 4;
        /* background-color: aqua; */
    }


/* Join */
    main section:nth-child(5){
        grid-column: 1 / 4;
        grid-row: 4 / 5;
        display: flex;
        /* background-color: aqua; */
    }
    
    main section:nth-child(6){
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
    /* main section:nth-child(){} */

    
    footer{
        grid-template-columns: 100px 1fr 1fr;
    }
    footer div{
        flex-direction: column;
        padding: .8rem;
    }
    footer address {
        padding: .8rem;

    }
    footer div:nth-child(5){
        grid-column: 1 / 4;
    }
}
/* end of media query */