@media (min-width: 32.5em){
    header,footer,main{
        max-width: 100%;}

    main{
        grid-template-columns: 1fr 1fr;
        column-gap: 3em;}
    nav{
        
        flex-direction: row;
    }

}