
header,footer{
    border-radius: 25px ;
    box-shadow: 5px 8px 2px 10px grey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: darkgoldenrod;
    padding: 1em;
    margin: 1em;
}

figure image{
 width: 100%;       
}
#portrait{
    border: 9px dotted grey;
    background-color: black;
    padding: 1em;
    margin: .5em;
}
main, footer{font-family: sans-serif;

}
h1, h2{font-family: 'Josefin Sans', sans-serif;}

h1{padding: 1em;}

h2{
    padding-top: 1em;
    ;
}
body{padding: 1em;}

footer{
    justify-content: center;
}

